{% extends 'Publisher/base.html' %}

{% block content %}
<title>GAppMarket</title>
<div class="container mt-5">
    <h2 class="text-center mb-4">Sales Reports</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">App Sales</h3>
                    <p class="card-text">Total Sales: ₹{{ app_sales }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Game Sales</h3>
                    <p class="card-text">Total Sales: ₹{{ game_sales }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">eBook Sales</h3>
                    <p class="card-text">Total Sales: ₹{{ ebook_sales }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}